.SideBar {
    position: fixed;
    width: 380px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.SideBar ul {
    padding: 0;
    margin: 0;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    width: 85%;
}

.SideBar ul li {
    margin: 20px;
    width: 100%;
}

.SideBar ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 280px;
    font-size: 30px;
    border: 2px solid #4CAF50;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

@media (min-width: 600px) {
    .SideBar {
        display: none;
    }
}