.SideBar {
    position: fixed;
    width: 80%;
    max-width: 400px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

.SideBar ul {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 85%;
}

.SideBar ul li {
    margin: 10px;
    width: 100%;
}

.SideBar ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    width: 80%;
    font-size: 30px;
    border: 2px solid #4CAF50;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

@media (min-width: 600px) {
    .SideBar {
        display: none;
    }
}