.AppForm {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/background2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.BackgroundBlur {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.Form {
    display: flex;
    flex-direction: column;
    width: 35%;
    max-width: 300px;
    min-width: 280px;
    margin: auto;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 40px rgb(0, 0, 0);
    padding: 35px 0;
    text-align: left;
}

.Input {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: 60px;
    font-size: 30px;
    justify-content: space-between;
}

.Input label {
    font-size: 16px;
    color: #666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    /* margin-left: 25px; */
}

.Input input {
    color: #666;
    width: 100%;
    align-self: left;
    font-size: 20px;
    border-color: transparent;
    border-bottom: 2px solid #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Input input:focus {
    outline: none;
    border-bottom: 2px solid #81C784
}

.Error p {
    position: relative;
    top: -15px;
    padding: 0;
    padding-top: 5px;
    color: rgb(255, 0, 0);
    font-size: 13px;
    align-self: center;
    width: 100%;
}

.Error input {
    /* color: red; */
    border-bottom: 2px solid red;
}

.Error input:focus {
    outline: none;
    border-bottom: 2px solid red;
}

.Form button {
    /* height: 35px; */
    background-color: #4CAF50;
    color: #fff;
    border: 2px solid #4CAF50;
    cursor: pointer;
    font-size: 20px;
    align-self: left;
    margin-left: 12%;
    margin-top: 35px;
    padding: 5px 25px;
    border-radius: 50px;
}

.Form button:focus {
    outline: none;
    background-color: #1B5E20;
    /* color: #333; */
    border: 2px solid #4CAF50
}

@media(min-width: 600px) {
    .AppForm {
        background-position: center;
    }
}

@media(max-width:500px) {
    .Input input {
        width: 80%;
        align-self: center;
    }
    .Input label {
        margin-left: 20px;
    }
    .Error p{
      left: 25px;
    }
}