.Notice {
    margin: 15px auto;
    width: 95%;
    padding: 5px 10px;
    box-shadow: 2px 3px 3px #ccc;
    box-sizing: border-box;
    background-color: #E8F5E9;
    border-radius: 5%;
    /* max-height: 0; */
}

.Notice button {
    background: white;
    border: 2px solid #A5D6A7;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 100;
}

.Body {
    max-height: 0;
    text-align: left;
    height: auto;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.Notice button:focus {
    outline: none;
}

.Open {
    opacity: 1;
    max-height: 300px;
}

.Closed {
    opacity: 0;
    max-height: 0;
}

@media(min-width: 600px) {
    .Notice {
        width: 60%;
        max-width: 600px;
        box-shadow: 2px 3px 4px #ccc;
    }
}