.Notice {
    margin: 15px auto;
    width: 95%;
    padding: 5px 10px;
    box-shadow: 2px 3px 3px #ccc;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #4CAF50;
    /* max-height: 0; */
}

.Notice button {
    background: #fff;
    border: 2px solid #4CAF50;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 100;
    color: #4CAF50;
    font-weight: bolder;
    border-radius: 20px;
}

.Body {
    max-height: 0;
    text-align: left;
    height: auto;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.Notice button:focus {
    outline: none;
}

.Opened {
    opacity: 1;
    max-height: 400px;
}


@media(min-width: 600px) {
    .Notice {
        width: 60%;
        max-width: 600px;
        box-shadow: 2px 3px 4px #ccc;
    }
}