.NoticeForm {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto;
    max-width: 600px;
}

.NoticeForm input[type='text'] {
    margin-bottom: 10px;
    font-size: 24px;
    border: 2px solid #43A047;
    padding: 3px 0;
    padding-left: 10px;
    color: #333;
}

.NoticeForm textarea {
    margin-bottom: 10px;
    font-size: 24px;
    border: 2px solid #43A047;
    padding: 3px 0;
    padding-left: 10px;
    color: #333;
    height: 300px;
}
.NoticeForm textarea[name='subject'] {
    margin-bottom: 10px;
    font-size: 24px;
    border: 2px solid #43A047;
    padding: 3px 0;
    padding-left: 10px;
    color: #333;
    height: 100px;
}

.NoticeForm input[type='submit'] {
    max-width: 100px;
    width: 40%;
    height: 40px;
    font-size: 24px;
    align-self: flex-end;
    background: #43A047;
    border: none;
    color: white;
    box-shadow: inset 0px -5px #2E7D32;
    cursor: pointer;
}

.NoticeForm input[type='submit']:active {
    transform: translateY(5px);
    height: 35px;
    box-shadow: none;
}

.NoticeForm input[type='submit']:focus {
    outline: none;
}

@media(min-width: 600px) {
    .NoticeForm {
        width: 500px;
    }
}