.NavBar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 80%;
    margin: auto;
    max-width: 800px;
    padding: 0;
    height: 100%;
}

.Navbar li {
    padding: 0;
    margin: 0;
}

.NavBar li a {
    height: 100%;
    display: block;
    text-decoration: none;
    color: #81C784;
    font-size: 25px;
    padding: 7px 10px;
}

.NavBar li a:hover {
    color: white;
}

.Active {
    font-size: 40px;
    color: white;
}

.ToggleButton div {
    display: none;
}

.NavItem {
    display: flex;
    flex-direction: column;
}